<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Chemical Schedule</title>
</head>
<body>
    <h1>Current Week's Chemical Schedule</h1>
    <table border="1">
        <tr>
            <th>Plant Name</th>
            <th>Current Week</th>
            <th>Environment</th>
            <th>Chemicals (Per Gallon)</th>
        </tr>
        {% for plant_name, data in current_week_schedule.items() %}
            <tr>
                <td>{{ plant_name.Upper() }}</td>
                <td>{{ data.week }}</td>
                <td>{{ data.environment.Upper() }}</td>
                <td>
                    {% for chemical, ml in data.chemicals.items() %}
                        {{ chemical.Upper() }}: {{ ml }}ml<br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% include 'footer.html' %}
</body>
</html>
