<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Veg Crib</title>
</head>
<body>
    <h1>Welcome to Veg Crib!</h1>
    <ul>
        <li><a href="{{ url_for('add_plant') }}">Add Plant</a></li>
        <li><a href="{{ url_for('view_plants') }}">View, Move, or Delete Plants</a></li>
        <li><a href="{{ url_for('add_environment') }}">Add Plant Environment (Tent, Room, etc.)</a></li>
        <li><a href="{{ url_for('view_environments') }}">View or Delete Environments</a></li>
        <li><a href="{{ url_for('chemical_schedule') }}">View Plant Chemical Weekly Schedule</a></li>
    </ul>
</body>
</html>

