<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Veg Crib</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Veg Crib!</h1>
    <ul>
        <li><a href="{{ url_for('add_plant') }}">[ADD] Add Plant</a></li>
        <li><a href="{{ url_for('delete_plant_page') }}">[REMOVE] Harvest Plant</a></li>
        <li><a href="{{ url_for('enter_water_day_values') }}">[MAINTAIN] Water Plants</a></li>
        <li><a href="{{ url_for('view_plants') }}">[VIEW|MOVE] All Plants</a></li>
        <li><a href="{{ url_for('add_environment') }}">[ADD] Container Environment</a></li>
        <li><a href="{{ url_for('view_environments') }}">[VIEW|DELETE] Container Environments</a></li>
        <li><a href="{{ url_for('chemical_schedule') }}">[VIEW] Chemical Weekly Schedule</a></li>
        <li><a href="{{ url_for('chemical_schedule') }}">[CHANGE] Chemical Weekly Schedule</a></li>
        <li><a href="{{ url_for('global_settings') }}">[VIEW|CHANGE] Settings</a></li>
    </ul>
</body>
</html>
