<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Veg Crib</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Veg Crib!</h1>
    <ul>
        <li><pre><a href="{{ url_for('add_plant') }}">Add Plant                [ADD]</a></pre></li>
        <li><pre><a href="{{ url_for('delete_plant_page') }}">Harvest Plant            [REMOVE]</a></pre></li>
        <li><pre><a href="{{ url_for('view_plants') }}">All Plants               [VIEW | MOVE]</a></pre></li>
        <li><pre><a href="{{ url_for('add_environment') }}">Container Environments   [ADD]</a></pre></li>
        <li><pre><a href="{{ url_for('view_environments') }}">Container Environments   [VIEW | DELETE]</a></pre></li>
        <li><pre><a href="{{ url_for('chemical_schedule') }}">Chemical Schedule        [VIEW]</a></pre></li>
        <li><pre><a href="{{ url_for('chemical_table') }}">Chemical Schedule        [CHANGE]</a></pre></li>
        <li><pre><a href="{{ url_for('global_settings') }}">Settings                 [VIEW | CHANGE]</a></pre></li>
    </ul>
</body>
</html>
