<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>View/Move/Delete Plants</title>
</head>
<body>
    <h1>View Plants</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Harvest Type</th>
                <th>Environment</th>
                <th>Grow Type</th>
                <th>THC %</th>
                <th>CBD %</th>
                <th>Birth Date</th>
                <th>Harvest Date</th>
                <th>Bottle Date</th>
                <th>Cure Date</th>
                <th>Cure+ Date</th>
                <th>Cure++ Date</th>
                <th>Weeks</th>
                <th>Container</th>
            </tr>
        </thead>
        <tbody>
            {% for id, plant in plants.items() %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ plant.name }}</td>
                    <td>{{ plant.harvest_type }}</td>
                    <td>{{ plant.environment.name }}</td>
                    <td>{{ plant.grow_type }}</td>
                    <td>{{ plant.thc }}</td>
                    <td>{{ plant.cbd }}</td>
                    <td>{{ plant.birth_date }}</td>
                    <td>{{ plant.harvest_date }}</td>
                    <td>{{ plant.bottle_date }}</td>
                    <td>{{ plant.low_cure_date }}</td>
                    <td>{{ plant.mid_cure_date }}</td>
                    <td>{{ plant.high_cure_date }}</td>
                    <td>{{ plant.age_in_weeks }}</td>
                    <td>{{ plant.container.dimensions }}</td>

                    <td>
                        <!-- Move button -->
                        <form action="{{ url_for('move_plant', plant_id=plant.id) }}" method="get" style="display: inline;">
                            <button type="submit">Move</button>
                        </form>
                        <!-- Delete button -->
                        <!--<form action="{{ url_for('delete_plant', plant_id=plant.id) }}" method="post" style="display: inline;">-->
                        <!--<button type="submit">Delete</button>-->
                        <!--</form>-->
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'footer.html' %}
</body>
</html>
